/* General setting */
*{
  margin: 0;
  padding-left: 0;
  box-sizing: border-box;
}

body{
 font-family: 'Roboto', sans-serif;
 color: #a7a9a1f2;
 font-size: 16px;
}
/* utilities */

/* layout */
.container{
 width: 1200px;
 margin: 0 auto;
}

.clearfix::after{
 display: table;
 content: "";
 clear: both;
}

.w-50{
 width: 50%;
}

.col-3{
 width: calc(100% / 3);
 padding: 0 20px;
 float: left;
}

/* Menu */
.menu-inline li{
 display: inline-block;
 padding: 0 10px;
}

.menu-inline li:first-child{
 padding-left: 0px;
}

.menu-inline li:last-child{
 padding-right: 0px;
}

/* tipographi */
a{
  color: #8a8aff;
}

p{
 line-height: 150%;
 font-size: 18px;
}

h1,
h2,
h3 {
  font-weight: 500;
}

h2{
  margin-bottom: 15px;
  font-size: 28px;
  color: #000;
}

h2 .big{
 font-size: 36px;
 line-height: 1.2;
}

.text-center{
 text-align: center;
}

/* button */
.btn{
 border: 1px solid white;
 padding: 5px 10px;
 border-radius: 5px;
 min-width: 100px;
 display: inline-block;
 text-align: center;
 line-height: 23px;
 text-decoration: none;
 color: white;
 text-transform: uppercase;
}

.btn-green{
 background-color: #24f524cf;
 border: none;
}

.btn-large{
 padding: 20px;
}

/* Header */
.main-header{
  background-color: #3e3494;
  height: 560px;
  background-image: url("img/background-header.png");
  background-repeat: no-repeat;
  background-size: 1000px;
  background-position: right bottom;
}

.header-nav{
 line-height: 80px;
 text-transform: uppercase;
 font-size: 12px;
}

.header-nav li a{
  text-decoration: none;
  color: white;
}

.header-nav .header-logo img{
 vertical-align: middle;
}



.float-left{
  float: left;
}

.header-nav .header-logo{
 width: 15%;
}

.header-nav .header-nav-center{
 width: 45%;
}

.header-nav .header-nav-right{
 width: 40%;
}

.header-nav .header-nav-right{
  text-align: right;
}

/* jumbotron */

.jumbotron{
 position: relative;
 height: 480px;
}

.jumbotron-text{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translatey(-50%);
}

.jumbotron-text h1{
 margin-bottom: 30px;
 font-size: 56px;
 color: white;
}

/* Main */

/* efficency */
.efficency{
 padding: 40px 15px;
 background-color:  #8080808c;
}

.efficency p{
 font-size: 20px;
}

/* Info */
.info{
 padding: 40px 15px;
 border-bottom: 1px solid lightgrey;
}

.info img{
 height: 150px;
 margin-bottom: 20px;
}

.info h3{
 color:  #24f524cf;
 font-size: 25px;
}

.info h3::after{
 content: "";
 display: block;
 width: 60px;
 height: 1px;
 background-color: grey;
 margin: 25px auto;
}

/* paln section */
.plan .col{
  padding: 50px;
}

.plan p{
 margin-bottom: 20px;
}


/* Footer */

.structure{
 background-color: #8080808c;
}

.structure .container{
 height: 155px;
}

.structure .footer-left{
 line-height: 155px;
}

.structure .footer-left h2{
 margin-bottom: 0;
}

.structure .footer-right{
 text-align: right;
 margin-top: 45px;
}

.structure .footer-right li{
 color: grey;
 font-size: 12px;
 display: inline-block;
 padding-right: 20px;
}

.structure .footer-right .text-style{
 font-size: 12px;
}

.structure .footer-right div{
 font-size: 16px;
}



.structure .footer-right i.fas.fa-caret-down{
 padding-left: 50px;
}

.structure .selection::after{
 content: "";
 display: block;
 height: 1px;
 background-color: grey;
 margin-top: 0px;
}


/* Help fixed */

.help{
 position: fixed;
 bottom: 0;
 right: 12%;
}

.help a{
 display: inline-block;
 padding: 10px;
 background-color: #24f524cf;
 color: white;
 text-decoration: none;
 text-transform: uppercase;
 border-radius: 5px 5px 0 0;
}
